.board {
	height: 80%;
	width: 100%;
	display: inline-block;
}
.card {
	height: 200px;
	width: 150px;
	background: rgb(255,255,0);
	border: 1px solid rgb(0,0,0);
	border-radius: 10px;
	float: left;
  display: inline-block;
  background-color: lightgrey;
  padding: 20px;
  text-align: center;
  margin: 0 5px;
}

.playerCards {
  display: inline-block;
  padding: 20px;
}

.player0Cards {
  background-color: LightCyan;
}
.player1Cards {
  background-color: lightpink;
}
.player2Cards {
  background-color: lightblue;
}

.start {
  width: 100px;
  /*position: relative;*/
  margin: 20px;
  display: inline-block;

}
button {
  font-size: 20px;
  background-color: green;
  margin: 10px;
}

.winner {
  background-color: orange;
  width: 300px;
  margin: 20px;
  font-size: 30px;
  display: inline-block;

}
/*
.settings {
  display: block;
  width: 300px;
  height: 100px;
  padding: 20px;
}*/

label {
  display: block;
}

span {
  padding: 5px;
}

.totalBoard {
  text-align: left;

}

.top {
  width: 640px; /*can be in percentage also.*/
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  box-shadow: 0px 0px 20px -3px grey;

}

.bottom {
  float: left;
  display: inline-block;
}

.Scoreboard {
  margin-left: 50px;
}

.box {
  margin: 0 auto;
  text-align: center;
}
